.text {
    p {
        font: 400 16px/22px $secondary;

        @include min-screen(1024px) {
            font: 400 18px/24px $secondary;
        }

        span {
            color: $orange;
        }

        &+p {
            margin-top: 15px;
        }
    }
}